@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img { width: 100%; }

.nav-container {
    background-color: #6700ee;

    a {
        color: #ffffff;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #00f7ff;
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header, .hero-design {
    display: none;
}

.hero {
    background: #6e00ff;
    color: #ffffff;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #ff64cb;

    span {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    border-radius: #e5d5fa;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6e00ff;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: #000000;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #ff64cb;
}

.skills-container ul li {
    background: #ffffff;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;
        
        &.one {
            width: 50px;
        }
        &.two {
            width: 100px;
        }
        &.three {
            width: 60px;
        }
    }

    .skill-title {
        font-weight: bold;
    }

    .featured-desc {
        margin-bottom: 2em;
    }
}

.portfolio {
    background: #f7f7f7;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

.action {
    font-weight: bold;

    a {
        color: #FF64CB;
    }
}

@media only screen and (min-width: 800px) {
    
    .featured, .portfolio {
        text-align: left;
    }

    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio {
        padding-top: 7em;
    }

    .portfolio-container img {
        margin-left: 2em;
    }
}
